/* 
    Kilimanjaro Card
    Custom styles

    Dev: Navilindo AM. 2022
*/

/* custom colors */

/*
    
    green #1EB53A
    blue #00A3DD
*/

/* general */

/* top */

/* header */

#top-header {
    background-image: linear-gradient(to right, #1EB53A, #00A3DD);
    color : white;
}


/* main */

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-title {
    color: #00A3DD;
}

.section-title-icon {
    color: #00A3DD;
    font-size: 1.5rem;
}

/* footer */

footer {
    color: white;
    background-image: linear-gradient(to right, #1EB53A, #00A3DD);
}

footer a {
    color: white;
    text-decoration: none;
}

footer h3 {
    font-weight: 800;
    text-decoration: underline;
}

#copy-left {
    background-color: #1EB53A;
    font-weight: 400;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}