/* 
    Kilimanjaro Card
    Custom styles

    Dev: Navilindo AM. 2022
*/

/* custom colors */

/*
    
    green #1EB53A
    blue #00A3DD
*/

/* general */

/* top */

/* header */

#top-header {
    background-color: #1EB53A;
    color : white;
}


/* main */

/* footer */

#copy-left {
    background-color: #1EB53A;
    font-weight: 400;
}