/* 
    Kilimanjaro Card
    Custom styles

    Dev: Navilindo AM. 2022
*/

/* general */

/* top */

/* header */


/* main */




/* footer */

#copy-left {
    background-color: darkgrey;
    font-weight: 400;
}